-- AlterTable
ALTER TABLE "Service" ALTER COLUMN "combinedEmbedding" SET DATA TYPE vector,
ALTER COLUMN "descriptionEmbedding" SET DATA TYPE vector,
ALTER COLUMN "tagsEmbedding" SET DATA TYPE vector,
ALTER COLUMN "titleEmbedding" SET DATA TYPE vector;

-- AlterTable
ALTER TABLE "ServiceRequest" ALTER COLUMN "titleEmbedding" SET DATA TYPE vector,
ALTER COLUMN "descriptionEmbedding" SET DATA TYPE vector,
ALTER COLUMN "combinedEmbedding" SET DATA TYPE vector;

-- AlterTable
ALTER TABLE "User" ALTER COLUMN "isActive" SET DEFAULT true;

